.center {
    text-align: center;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.vertical-middle {
    vertical-align:middle
}
.justify {
    text-align: justify;
}
.absolute{
    position: absolute;
}
.relative{
    position: relative;
}
.flex-display {
    display: flex;
}
.flex-justify-start {
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.flex-justify-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.flex-justify-end {
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.flex-justify-around {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.flex-align-start {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.flex-align-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flex-align-end {
    display: flex;
    flex-direction: column;
    align-items: end;
}
.flex-row-center {
    display: flex;
    justify-content: center;
}
.flex-row-between {
    display: flex;
    justify-content: space-between;
}
.flex-row-align-center {
    display: flex;
    align-items: center;
}

