// --- width --- 
@for $i from 1 through 100 {
    .wp#{$i} {
        width: $i * 1%;
    }
}
@for $i from 1 through 1000 {
    .w#{$i} {
        width: $i * 1px;
    }
}
// --- HEIGHT ---
@for $i from 1 through 1000 {
    .h#{$i} {
        height: $i * 1px;
    }
}